<%- include('../sidebarmainadmin')%>
<p hidden id="check" >6</p>
    <link rel="stylesheet" href="/stylesheets/popupitem.css">
    <div class="container" style="margin-right: 10%;">
        <div class="container">
            <h2 style="text-align: center; padding-top: 25px; margin-bottom: 30px;">Web Management</h2>
            <div style="margin-bottom: 20px;">
                <div style="text-align: end; width: 1225px;"> 
                    <a href="/scrapper/scrapping/<%=thisweb._id%>" title="สกัดข้อมูล" class="btn setting">สกัดข้อมูล</a>
                    <a href="/scrapper/tunformweb/<%=thisweb.webname%>" title="ดูทุนการศึกษา" class="btn setting">ดูทุนสำหรับ : <%=thisweb.webname%></a>
                    <button class="btn add" id="myButton">เพิ่ม Url</button>
                    <!-- <a class="btn del" href="#">ตั้งค่าการสกัดข้อมูล</a> -->
                        <div id="myPopup" class="popup">
                            <div class="popup-content">
                                <form action="/scrapper/addurl" method="POST">
                                    <input hidden type="text" value="<%= thisweb._id%>" name="webid">
                                    <h4>เพิ่ม Url</h4>
                                    <p>
                                        <%= thisweb.webname%>
                                    </p>
                                    <div style="padding-bottom: 10px;">
                                        <input placeholder="  เพิ่ม url" class="textinline" type="text" name="newurl" id="" autocomplete="off" required>
                                    </div>
                                    <button class="btnpopup" type="submit">เพิ่ม</button>
                                </form>
                                <div style="padding-top: 8px;">
                                    <button class="blackbtnpopup" id="closePopup">ย้อนกลับ</button>
                                </div>
                            </div>
                        </div>
                    <a class="btn setting" href="#" title="ตั้งค่าการสกัดข้อมูล"><span class="uil uil-cog"></span></a>
                </div>
            </div>
    </div>
    <div class="conurl">
        <div class="webname">
            <h2><%=thisweb.webname%></h2>
        </div>
        <table class="table table-hover table-sm table-striped">
            <thead>
                <tr>
                    <th style="text-align: center;">#</th>
                    <th>url</th>
                    <th style="width: 60px;">ลบ</th>
                    <th style="width: 75px;">แก้ไข</th>
                </tr>
            </thead>
            <tbody>
                <% Object.values(thisweb.url).forEach(function(item, index){%>
                    <tr>
                        <td style="text-align: center;"><%= index +1%></td>
                        <td>
                            <p><a href="<%= item%>"><%= item%></a></p>
                        </td>
                        <td>
                            <form action="/scrapper/delete" method="POST">
                                <input type="hidden" name="webid" value="<%= thisweb._id%>">
                                <input type="hidden" name="url" value="<%= item%>">
                               
                                <button type="submit" class="btn del" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่ ?')">ลบ</button>
                            </form>
                        </td>
                        <td>
                            <input hidden value="<%= thisweb._id%>" id="idforedit" type="text">
                            <button value="<%= item%>" class="btn edit" onclick="openForm(this.value)">แก้ไข</button>
                            <div id="myForm" class="popup">
                                <div class="popup-content">
                                    <h4 style="padding-bottom: 20px;">แก้ไข Url</h4>
                                    <form action="/scrapper/editurl" method="POST">
                                        <input hidden name="id" id="id" type="text">
                                        <input hidden name="webid" id="editid" type="text">
                                        <input id="showedit" class="textinline" type="text" name="editurl" autocomplete="off">
                                        <button class="btnpopupedit" type="submit">แก้ไข</button>
                                    </form>
                                    <div style="padding-top: 8px;">
                                        <button class="blackbtnpopup" onclick="closeForm(this.value)">ย้อนกลับ</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    </div>

    <script>
        myButton.addEventListener("click", function() {
            myPopup.classList.add("show");
        });
        closePopup.addEventListener("click", function() {
            myPopup.classList.remove("show");
        });
        window.addEventListener("click", function(event) {
            if (event.target == '') {
                myPopup.classList.remove("show");
            }
        });


        function openForm(thisweb) {
            document.getElementById("myForm").style.display = "block";
            let inline = document.getElementById("showedit");
            inline.value = thisweb;
            let id = document.getElementById("idforedit").value;
            let sendid = document.getElementById("id");
            sendid.value = id;
            let params = document.getElementById("editid");
            params.value = thisweb;
            console.log(inline);
        }


        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

    </script>
    <%- include('../endsidebarmain')%>